--find-links https://download.pytorch.org/whl/torch_stable.html

# Automate web browser interaction from Python
selenium==3.141.0

# Allows you to send HTTP/1.1 requests
requests==2.28.1

# Extensions to the standard Python datetime module
python-dateutil==2.8.2

# Git for data scientists - manage your code and data together
dvc[gdrive]==2.6.4

# JupyterLab computational environment
jupyterlab==3.4.8

# TensorFlow is an open source machine learning framework for everyone
tensorflow==2.10.0

# Modules for machine learning and data mining
scikit-learn==1.1.2

# Plotting package
plotly==5.10.0

# Tensors and Dynamic neural networks in Python
torch==1.12.1+cpu
torchvision==0.13.1
